/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

/**********************************************
*** TITLE CARD / RULES
**********************************************/

.titlecard {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: 90%;
    width: 70%;
    padding: 1%;
    background-color: white;
    border: 3px solid #f1f1f1;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.title-label {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    color: #EB4D4D;
}

.rules {
    position: relative;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
    height: 25%;
    width: 90%;
    font-weight: 500;
    font-size: 20px;
}

.start-game {
    background-color: #EB4D4D;
    color: white;
    padding: 20px 15px;
    border: none;
    cursor: pointer;
    left: 50%;
    bottom: 3%;
    width: 30%;
}

/**********************************************
*** NEW GAME MENU
**********************************************/

.new-game-form {
    display: none;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    height: 300px;
    width: 500px;
    padding: 1%;
    background-color: white;
    border: 3px solid #f1f1f1;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.new-game-label {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    color: #EB4D4D;
}

.player-name-entry {
    width: 45%;
    padding: 15px;
    margin: 5px 10px 22px 10px;
    font-size: 15px;
    border: none;
    background: #f1f1f1;
}

.target-score-label {
    display: inline-block;
    text-align: right;
    width: 230px;
}

.target-score-entry {
    display: inline-block;
    width: 12%;
    padding: 15px 5px 15px 5px;
    margin: 0px 10px 22px 10px;
    text-align: center;
    font-size: 15px;
    border: none;
    background: #f1f1f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-game-form input:focus {
    background-color: #ddd;
    outline: none;
}

.btn-1dice {
    background-color: #EB4D4D;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    left: 30%;
    bottom: 5%;
    width: 30%;
}

.btn-2dice {
    background-color: #EB4D4D;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    left: 70%;
    bottom: 5%;
    width: 30%;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
}

.player-current-score {
    font-size: 30px;
}

.target-score-display {
    position: absolute;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    top: 20px;
    left: 20px;
    color: #EB4D4D;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.dice1 {
    display: none;
    position: absolute;
    left: 43%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.dice2 {
    display: none;
    position: absolute;
    left: 57%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }